                /* Default */
                
                * {
                    margin: 0%;
                    padding: 0;
                    box-sizing: border-box;
                }
                
                a {
                    color: #262626;
                    text-decoration: none;
                }
                
                li {
                    list-style-type: none;
                }
                
                body {
                    background: #fff;
                    color: #000;
                    line-height: 1.5;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    font-size: 1em;
                }
                /* Navbar */
                
                .container {
                    max-width: 1600px;
                    width: 90%;
                    margin: auto;
                }
                
                .main-nav {
                    align-items: center;
                    display: flex;
                    height: 60px;
                    padding: 20px;
                }
                
                .main-nav .logo {
                    width: 120px;
                }
                
                .main-nav ul {
                    display: flex;
                }
                
                .main-nav ul li {
                    font-size: 1em;
                    padding: 0% 20px;
                }
                
                .main-nav a:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 3px;
                }
                /* Showcase / Main-hero 1 */
                
                .header-hero {
                    width: 100%;
                    height: 600px;
                    background: url('hero-img.PNG') no-repeat center center/cover;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding-left: 100px;
                    padding-right: 1050px;
                    margin-bottom: 40px;
                }
                
                .header-hero h2 {
                    padding-bottom: 20px;
                    line-height: 1;
                    font-size: 2.8em;
                    font-weight: bold;
                }
                /* Home-Cards 1 */
                
                .home-cards {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 55px;
                }
                
                .home-cards p {
                    margin-bottom: 15px;
                }
                
                .home-cards .card-links {
                    color: #0067BF;
                    font-weight: bold;
                }
                
                .home-cards .card-links:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 3px;
                }
                /* Showcase / Main-Hero 2 */
                
                .main-hero {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 600px;
                    background: url('hero-img(1).png') no-repeat center center/cover;
                    padding-left: 100px;
                    padding-right: 1050px;
                    margin-bottom: 40px;
                }
                
                .main-hero h2 {
                    padding-bottom: 20px;
                    line-height: 1;
                    font-size: 2.8em;
                    font-weight: bold;
                }
                /* Home-Cards 2 */
                
                #hh2 {
                    font-size: 2.5em;
                }
                
                .home-cards {
                    margin-top: 20px;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    grid-gap: 55px;
                }
                
                .home-cards p {
                    margin-bottom: 15px;
                }
                
                .home-cards .card-links {
                    color: #0067BF;
                    font-weight: bold;
                }
                
                .home-cards .card-links:hover {
                    text-decoration: underline;
                    text-decoration-thickness: 2px;
                    text-underline-offset: 3px;
                }
                /* Footer */
                
                .footer {
                    background-color: #f2f2f2;
                    color: #616161;
                    width: 100%;
                }
                
                .footer-inner {
                    margin: 0 auto;
                    display: grid;
                    grid-template-columns: repeat(6, 1fr);
                    grid-gap: 20px;
                    padding-top: 20px;
                    padding-bottom: 60px;
                    align-items: flex-start;
                    justify-content: center;
                    max-width: 1600px;
                    line-height: 3;
                    font-size: 1.4em;
                }
                
                .menu-btn {
                    display: none;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 20px;
                }
                
                .menu-btn span {
                    display: block;
                    width: 30px;
                    height: 3px;
                    background-color: black;
                    transition: all 0.5s;
                }
                
                @media screen and (max-width:768px) {
                    .main-nav {
                        display: flex;
                        justify-content: space-between;
                    }
                    .menu-btn {
                        display: flex;
                    }
                    .menu-btn:hover {
                        opacity: 0.5;
                    }
                    .main-nav ul.right-menu {
                        margin-right: 50px;
                    }
                    .main-nav ul.main-menu {
                        display: block;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: #f2f2f2;
                        width: 50%;
                        height: 100%;
                        border-right: #ccc 1px solid;
                        opacity: 0.9;
                        padding: 30px;
                        transform: translateX(-500px);
                        transition: transform 0.5s ease-in-out;
                    }
                    .main-nav ul.main-menu li {
                        padding: 10px;
                        border-bottom: #ccc solid 1px;
                        font-size: 14px;
                    }
                    .main-nav ul.main-menu li:last-child {
                        border-bottom: 0;
                    }
                    .main-nav ul.main-menu.show {
                        transform: translateX(-20px);
                    }
                }